@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
  --font-libre-bodoni: var(--font-libre-bodoni);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Lato Font Classes */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Libre Bodoni Font Classes */
.libre-bodoni-regular {
  font-family: "Libre Bodoni", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-bodoni-medium {
  font-family: "Libre Bodoni", serif;
  font-weight: 500;
  font-style: normal;
}

.libre-bodoni-semibold {
  font-family: "Libre Bodoni", serif;
  font-weight: 600;
  font-style: normal;
}

.libre-bodoni-bold {
  font-family: "Libre Bodoni", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-bodoni-regular-italic {
  font-family: "Libre Bodoni", serif;
  font-weight: 400;
  font-style: italic;
}

.libre-bodoni-medium-italic {
  font-family: "Libre Bodoni", serif;
  font-weight: 500;
  font-style: italic;
}

.libre-bodoni-semibold-italic {
  font-family: "Libre Bodoni", serif;
  font-weight: 600;
  font-style: italic;
}

.libre-bodoni-bold-italic {
  font-family: "Libre Bodoni", serif;
  font-weight: 700;
  font-style: italic;
}
