@import "tailwindcss";
@import "../styles/typography.css";

:root {
  --background: #FCFCFC;
  --foreground: #13120A;
  --text-primary: #171717;
  --text-secondary: #525252;
  --accent: #00A452;
  --accent-hover: #008f47;
  --border: #E5E5E5;

  /* Dot animation colors */
  --dots-color-gray: #A1A1AA;
  --dots-color-accent: #97CEE7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-serif: var(--font-merriweather);
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #FAFAFA;
    --text-primary: #FAFAFA;
    --text-secondary: #A1A1AA;
    --accent: #22C55E;
    --accent-hover: #16A34A;
    --border: #27272A;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
