@import "tailwindcss";
@import "../styles/typography.css";

:root {
  --background: #FCFCFC;
  --foreground: #13120A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-serif: var(--font-merriweather);
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCFCFC;
    --foreground: #13120A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
